// // COLORS# Front-end Style Guide

$Mobile: 375px;
$Desktop: 1440px;
// - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
$danger: hsl(0, 100%, 66%);
$color-black: #000;
$White: hsl(0, 0%, 100%);
$Very-dark-violet: hsl(278, 68%, 11%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$border-radius-medium: 0.8rem;

// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// $color-white: #fff;

// // FONT
$default-font-size: 1.8rem;

// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;
